@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&family=Slabo+27px&family=Unbounded:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Unbounded', cursive;

}

html{
    background-color: white;
    scroll-behavior: smooth;
}

.navegador {
    display: flex;
    flex-direction: column;
    background-color: #95260e; 
    gap: 1rem;
}

.labios-logo {
    height: 5rem;
    width: 12rem;
}

.menu-principal {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.menu-secundario {
    display: flex;
    justify-content: center;
}

.nav-list{
    display: flex;
    gap: 4rem;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 7px;
}

.nav-item-link{
    color: white;
}

.nav-item-link:hover,
.boton-ingreso a:hover{
    text-decoration: underline;
 }


 /* ---------- login y registrase ---------- */

.nav-list-secundario{
  gap: 0.5rem;
}

.nav-list-secundario p{
  margin-top: 0.375rem;
    color: white;
}

 .boton-ingreso{
    display: flex;
    align-items: center;
}

.boton-ingreso img {
    height: 1.875rem;
    width: 1.875rem;
    margin-right: 0.625rem;
    cursor: pointer;
}

.boton-ingreso a {
    border-radius: 0.5rem;
    color:white;
    font-size: 0.938rem;
}


/* ------------- PORTADA ---------------- */

.hero{
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.portada {
    background-image: url('img/portada-tutorial.jpg');
    background-size: cover;
    background-position: center;
    height: 23rem;
    width: 25rem;
  }

  .portada-contenedor{
    padding: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .contenedor-envios{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .camion-envios-img{
    width: 20rem;
  }



  /************* DESCUENTOS *************/

  .descuento-contenedor{
    background-color: #95260e;
    margin-top: 2.5rem;
      padding: 1rem;
      color: white;
      text-align: center;
    font-weight: bold;
  }


/*************** PRODUCTOS *************/

#titulo-productos {
  text-align: center;
  font-size: 1.7rem;
    margin: 3rem;
}

.productos-contenedor {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 5rem;
}

.producto {
  flex-direction: column;
    display: flex;
    text-align: center;
    gap: 0.3rem;
    margin: 1rem;
}

.producto img {
  width: 12rem;
  height: 12rem;
    margin: 0.75rem;
    border-radius: 0.938rem;
    object-fit: cover;
    cursor: pointer;
}

.producto a {
    background-color: #95260e;
    padding: 0.5rem;
    letter-spacing: 1px;
    margin: 0.3rem 3rem;
    color: white;
  }


.producto p {
  width: 13rem;
}

.precio{
  font-weight: bold;
}


/*** ver mas *****/

.ver-mas{

  display: flex;
  justify-content: center;
  margin: 3rem 6rem;;

}

.ver-mas a{
  background-color: #95260e;
    padding: 0.75rem;
    color: white;
    }


    .producto a:hover,
    .ver-mas a:hover,
    .producto a:active,
    .ver-mas a:active{
     background-color: black;
     color: #95260e;
     font-weight: bold;
    }