@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&family=Slabo+27px&family=Unbounded:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Unbounded', cursive;
}

html{
  background-color: white;
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  width: 100%;
}

.navegador {
  display: flex;
  justify-content: space-between;
  background-color: #853626;
  padding: 0.3rem 1rem;
}

.menu {
  display: flex;
}

.menu-des{
  display: none;
  width: 2rem;
  height: 2rem;
  padding-top: 1rem;
}

  .nav-desplegable{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.62rem;
    left: 0%;
    width: 12rem;
    align-items: center;
    background-color: #853626;
    padding: 2rem 1rem;
    z-index: 1;
    gap: 4rem;
    font-size: 1.2rem;
  }


.labios-rojos-logo {
  height: 4rem;
  width: 11rem;
  margin-right: 3rem;
}

.nav-list-principal{
  display: flex;
  gap: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item-link{
  color: white;
}

.usuario{
  display: none;
}

.nav-item-link:hover,
.boton-ingreso a:hover{
  text-decoration: underline;
}


/* crean cuenta e inicio de sesion */

.btn-registro{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list-secundario{
  display: flex;
  gap: 1rem;
  }

.nav-list-secundario-des {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 4rem;
  top: 4.62rem;
  background-color: #a14242;
}

  .btn-registro a {
    font-size: 1rem;
  }

  .bolsa-compra {
    height: 2rem;
    cursor: pointer;
  }

  /**  carrito **/

  .mensaje-mi-carrito{
    text-align: center;
  }

 #mensaje-carrito-vacio {
  display: none;
  text-align: center;
 }

.carrito {
  display: none;
}

.lista-productos-carrito{
  display: flex;
  flex-direction: column;
  position: absolute;
    top: 4.62rem;
    background-color: #7b3b2e;
    color: white;
    right: 1rem;
    padding: 0.5rem 0 1rem 0.4rem;
    gap: 1rem;
    width: 21rem;
    border: 0.06rem solid black;
    
}

.producto-nombre{
  width: 11rem;
}

.producto-carrito{
  display: flex;
  gap: 1rem;
}

.prod-carrito-img {
  width: 4.5rem;
  height: 4.5rem;
  border: 3px solid black;
}

.datos-producto{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productos-contenedor-carrito {
  gap: 1.3rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-height: 20rem;
}

.cambiarCantidad {
  display: flex;
    gap: 0.3rem;
}

.btn-sumar, .btn-restar {
  padding: 0 0.3rem;
  font-weight: bold;
}

.tacho{
  height: 1rem;
  width: 1rem;
}


.tacho-resto {
  width: 1rem;
    height: 1rem;
}

.btn-tacho-resto{
  padding: 0;
}

.btn-botones-lista{
  display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0rem 4rem;
}

.btn-comprar-lista, .btn-borrar-todo{
  padding: 0.3rem 0rem;
  background-color: black;
    color: white;
}

/* ------------- PORTADA ---------------- */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 6rem;
}

.portada {
    background-size: cover;
    background-position: center;
    height: 23rem;
    width: 25rem;
    margin: 1rem;
  }

  .mascarilla{
    background-image: url('img/mascarilla.png');
  }

  .make-up{
    background-image: url('img/make-up.png');
  }

  .peinado{
    background-image: url('img/peinado.png');
  }

  .portada-contenedor{
    display: flex;
    justify-content: center;
    margin-top: 18rem;
  }

  .portada-contenedor a{
    padding: 1rem;
    background-color: #bb5c46;
    border-radius: 0.5rem;
    color: white;
  }

  .portada-contenedor a:hover{
    background-color: #d14d2f;
    padding: 1.31rem;
  }

  /************* DESCUENTOS *************/

  .descuento-contenedor{
    background-color: #95260e;
    margin-top: 2.5rem;
      padding: 1rem;
      color: white;
      text-align: center;
    font-weight: bold;
    box-sizing: border-box;
  }


/*************** PRODUCTOS *************/

.cards {
  padding-top: 3rem;
}

.titulo-productos {
  text-align: center;
  font-size: 1.7rem;
    padding: 3rem;
}

.lista-productos{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.lista-productos button{
  padding: 0.4rem;
    background-color: #b55f4e;
    border-radius: 0.56rem;
    cursor: pointer;
}

.productos-contenedor {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 5rem;
}

.producto {
  display: flex;
  flex-direction: column;
    text-align: center;
    gap: 0.3rem;
    margin: 1rem;
    align-items: center;
}

.img-producto {
  width: 12rem;
  height: 12rem;
    margin: 0.75rem;
    border-radius: 0.93rem;
    cursor: pointer;
}

.nombre-producto {
  width: 13rem;
}

.btn-comprar {
    background-color: #000000;
    padding: 0.5rem 3rem;
    letter-spacing: 0.12rem;
    color: white;
  }

.tono{
  color: gray;
  margin: 0.7rem;
}

.precio{
  font-weight: bold;
}


/*** ver mas *****/

.ver-mas{

  display: flex;
  justify-content: center;
  margin: 3rem 6rem;;

}

.ver-mas button{
  background-color: #000000;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
    }


    .btn-comprar:hover,
    .ver-mas a:hover,
    .btn-comprar:active,
    .ver-mas a:active{
      background-color: #b54040;
      color: #000000;
      font-weight: bold;
      cursor: pointer;
    }


    /**************** BENEFICIOS ************************/

    .beneficios {
      padding-top: 5rem;
    text-align: center;
    }

    .beneficios-titulo {
     padding-bottom: 1rem;
    }

    .beneficios img {
      width: 20rem;
    }

    .beneficios-contenedor {
      background-image: url(img/fondo.jpg);
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    font-weight: bold;
    }

    .info-beneficios {
      gap: 1rem;
    display: flex;
    flex-direction: column;
    }

    .info-beneficios a {
      background-color: white;
    border-radius: 0.31rem;
    padding: 0.12rem;
    color: #ab2d43;
    }


    /********* CONTACTO ************/

    .contacto {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      align-items: center;
      justify-content: center;
      padding-top: 5rem;
    }

    .form {
      display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    }

    .form input, #texto {
    background-color: #d97c6a;
    border: 0.31rem solid #853626;
    border-radius: 1rem;
    }

    .form input{
      padding: 0.5rem 2rem;
    }

   #texto {
    resize: none;
    padding: 1rem;
   }
   
    .contenedor-text {
      flex-direction: column;
      display: flex;
      gap: 0.5rem;
    }

    iframe {
      width: 20rem;
      height: 20rem;
    }


    /* footer */

    footer {
      display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    color: white;
    background-color: black;
    padding: 2rem;
    box-sizing: border-box;
    }

    footer a {
      color: white;
    }

    footer a:hover{
      text-decoration: underline;
    }

    .bases-condiciones {
      flex-direction: column;
      display: flex;
      color: white;
      gap: 1rem;
      text-align: center;
    }

    .redes{
      gap: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

    .redes-sociales{
      display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    }

    .redes-sociales img {
      width: 1.6rem;
      height: 1.6rem;
    }

    .facebook, .instagram, .twitter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14rem;
      font-size: 0.8rem;
      padding: 0rem 1rem;
  }
  
  .facebook{
      background-color: #3b5998;
      gap: 1rem;
  }
  
  .instagram{
    gap: 1rem;
      background: linear-gradient(289deg, #8d4280, transparent), radial-gradient(#ff0404, transparent);
  }

  .twitter{
    background-color: #004773;
    gap: 2.5rem;
  }

  .contactanos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
  }