@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&family=Slabo+27px&family=Unbounded:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Unbounded', cursive;
}

html{
  background-color: white;
  scroll-behavior: smooth;
}

#Inicio {
  position: fixed;
  width: 100%;
}

.navegador {
  display: flex;
  justify-content: space-between;
  background-color: #95260e; 
  padding: 1rem;
}

.menu {
  display: flex;
}

.menu-des{
  display: none;
  width: 2rem;
  height: 2rem;
  padding-top: 1rem;
}

  .nav-desplegable{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 96px;
    left: 0%;
    width: 25%;
    align-items: center;
    background-color: #95260e;
    padding: 2rem 1rem;
    z-index: 1;
    gap: 4rem;
  }

.labios-rojos-logo {
  height: 4rem;
  width: 11rem;
}

.nav-list-principal{
  display: flex;
  gap: 2rem;
}


.nav-list-secundario{
  display: flex;
  gap: 1rem;
  }

.nav-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.nav-item-link{
  color: white;
}

.usuario{
  display: none;
}

.nav-item-link:hover,
.boton-ingreso a:hover{
  text-decoration: underline;
}


/* crean cuenta e inicio de sesion */

.btn-registro{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-registro a {
  font-size: 1rem;
}

.bolsa-compra {
  height: 2rem;
  cursor: pointer;
}


/* ------------- PORTADA ---------------- */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 6rem;
}

.portada {
    background-size: cover;
    background-position: center;
    height: 23rem;
    width: 25rem;
    margin: 1rem;
  }

  .mascarilla{
    background-image: url('img/mascarilla.png');
  }

  .make-up{
    background-image: url('img/make-up.png');
  }

  .peinado{
    background-image: url('img/peinado.png');
  }

  .portada-contenedor{
    display: flex;
    justify-content: center;
    margin-top: 18rem;
  }

  .portada-contenedor a{
    padding: 1rem;
    background-color: #bb5c46;
    border-radius: 0.5rem;
    color: white;
  }

  .portada-contenedor a:hover{
    background-color: #d14d2f;
    padding: 21px;
  }

  /************* DESCUENTOS *************/

  .descuento-contenedor{
    background-color: #95260e;
    margin-top: 2.5rem;
      padding: 1rem;
      color: white;
      text-align: center;
    font-weight: bold;
  }


/*************** PRODUCTOS *************/

#titulo-productos {
  text-align: center;
  font-size: 1.7rem;
    margin: 3rem;
}

.lista-productos{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.lista-productos p{
  padding: 0.4rem;
    background-color: #e77baa;
    border-radius: 9px;
}

.productos-contenedor {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 5rem;
}

.producto {
  display: flex;
  flex-direction: column;
    text-align: center;
    gap: 0.3rem;
    margin: 1rem;
    align-items: center;
}

.producto img {
  width: 12rem;
  height: 12rem;
    margin: 0.75rem;
    border-radius: 0.938rem;
    cursor: pointer;
}

.producto a {
    background-color: #000000;
    padding: 0.5rem 3rem;
    letter-spacing: 2px;
    color: white;
  }


.producto p {
  width: 13rem;
}

.tono{
  color: gray;
  margin: 0.7rem;
}

.precio{
  font-weight: bold;
}


/*** ver mas *****/

.ver-mas{

  display: flex;
  justify-content: center;
  margin: 3rem 6rem;;

}

.ver-mas a{
  background-color: #95260e;
    padding: 0.75rem;
    color: white;
    }


    .producto a:hover,
    .ver-mas a:hover,
    .producto a:active,
    .ver-mas a:active{
     background-color: black;
     color: #95260e;
     font-weight: bold;
    }


    /**************** ************************/