@media (max-width: 610px){
    .nav-list-secundario{
        flex-direction: column;
    }
    
    .btn-registro a{
        font-size: 0.8rem;
    }

}

@media (max-width: 1050px) {

    .menu-des{
        display: flex;
        cursor: pointer;
    }
    
    .nav-list-principal{
        display: none;
    }
}

@media (max-width: 874px) {
    .hero{
        flex-direction: column;
    }
}